.offerings-parent-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 84px;
  padding: 3% 7%3%7%;
}

.offerings-top-conatainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 0px 30px 50px 100px; */
}

.offerings-primary-heading {
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #0096f6; */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  
  text-align: center;
  
  color: #0096F6;
  
}

.offerings-secondary-heading {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -0.581818px;
  text-transform: capitalize;
  color: #111111; */

  
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 72px;
/* identical to box height, or 150% */

text-align: center;
letter-spacing: -0.581818px;
text-transform: capitalize;

color: #111111;
}

.wrap {
  color: #0096f6;
}
.offerings-primary-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #637381;
  padding: 0% 5%;
}

.offeringsbutton-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: white;
  border: none;
  gap: 3rem;
  margin-bottom: 43px;
}
.offeringsbutton-container button {
  border-radius: 8px;
  width: 160px;
  height: 50px;
}

.mentorconnect,
.investorconnect,
.grantsconnect {
  color: #0096f6;
  background: white;
  outline: none;
  border: 2px solid #0096f6;
  border-radius: 8px;
}

.mentorconnect:hover,
.investorconnect:hover,
.grantsconnect:hover {
  border: none;
  background-color: #0096f6;
  color: #ffffff;
}

.offerings-rectangle-box {
  display: flex;
  padding: 2% 6%;
  background: #f4f7ff;
  border-radius: 100px;
}

.offerings-box-content {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  padding: 2% 1%;
  gap: 6rem;
}

.offerings-left-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  /* padding: 4.5% 6%; */
}

.case-study-container {
  margin-top: -82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 19% 10%;
}
.case-study-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  text-align: center;
  text-transform: capitalize;

  color: #0096f6;
}

.case-study-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* or 120% */
  width: 80%;
  display: flex;
  flex-wrap: wrap;

  text-align: center;
  text-transform: capitalize;

  color: #212b36;
}

.case-study-button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  width: 120px;
  padding: 2%2%2%2%;
  margin-top: 20px;
  background: transparent;
  outline: none;
  border: 2px solid #637381;
  border-radius: 8px;
  text-align: center;
  text-transform: capitalize;
  color: #637381;
}

.case-study-button:hover {
  border-color: #0096f6;
  background-color: #0096f6;
  color: white;
}

.offeringsimg1 {
  width: 370px;
  height: 300px;
  border-radius: 10px;
}

.offerings-right-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 4.5% 6%;
}

.offerings-right-primary-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #0096f6;
}

.offerings-right-primary-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  margin-top: 15px;
  text-transform: capitalize;
  color: #2e2e2e;
}

.offerings-right-primary-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #637381;
  margin-top: 24px;
}
.offerings-right-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  margin-top: 34px;
}

.findmentor,
.becomementor {
  color: #0096f6;
  background: #f4f7ff;
  outline: none;
  border: 2px solid #0096f6;
  border-radius: 8px;
}

.findmentor:focus,
.becomementor:focus {
  outline: none;
}

.findmentor:hover,
.becomementor:hover {
  background-color: #0096f6;
  color: white;
}

@media only screen and (max-width: 768px) {
  .offerings-box-content {
    flex-direction: column;
  }
  .offerings-rectangle-box {
    height: 1200px;
  }
  .offerings-left-content {
    padding: 2% 2%;
  }
}

@media only screen and (max-width: 480px) {
  .offeringsimg1 {
    width: 250px;
    height: 210px;
  }
  .offerings-right-content {
    align-items: center;
    text-align: center;
  }
}
